---
interface Props {
  activeLink: string;
}

const links = [
  { href: "/", label: "Home" },
  { href: "/destination-moon", label: "Destination" },
  { href: "#", label: "Crew" },
  { href: "#", label: "Technology" },
];

const { activeLink } = Astro.props;
---

<script>
  const navbarNav = document.querySelector(".navbar__nav");
  const navbarToggler = document.querySelector(".navbar__toggler");

  navbarToggler.addEventListener("click", (evt) => {
    evt.stopPropagation();
    const isOpen = !navbarNav.classList.toggle("navbar__nav--closed");
    navbarToggler.classList.toggle("navbar__toggler--close");
    navbarToggler.setAttribute("aria-expanded", isOpen.toString());

    function handleClickOutside(evt) {
      if (!navbarNav.contains(evt.target)) {
        navbarNav.classList.add("navbar__nav--closed");
        navbarToggler.classList.remove("navbar__toggler--close");
        navbarToggler.setAttribute("aria-expanded", "false");
        document.removeEventListener("click", handleClickOutside);
      }
    }

    if (isOpen) {
      document.addEventListener("click", handleClickOutside);
    } else {
      document.removeEventListener("click", handleClickOutside);
    }
  });
</script>

<header class="navbar">
  <div class="navbar__logo">
    <img class="navbar__logo-img" src="/assets/shared/logo.svg" alt="An illustrated star" />
  </div>

  <button type="button" class="navbar__toggler" aria-expanded="false" aria-controls="navbar__nav">
    <span class="sr-only">Menú</span>
  </button>

  <nav id="navbar__nav" class="navbar__nav navbar__nav--closed">
    <ul class="navbar__links">
      {
        links.map((link, index) => (
          <li>
            <a
              aria-current={Astro.url.pathname === link.href ? "page" : undefined}
              class:list={[
                "navbar__link navtext",
                link.href === activeLink && "navbar__link--active",
              ]}
              href={link.href}
            >
              <span aria-hidden="true" class="navbar__link-num">
                0{index}
              </span>{" "}
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  .navbar {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__logo {
    display: grid;
    margin-left: 1.5rem;
  }

  .navbar__logo-img {
    width: 2.5rem;
    aspect-ratio: 1;
  }

  .navbar__toggler {
    z-index: 1;
    border: 0;
    background-color: transparent;
    background-image: url("/assets/shared/icon-hamburger.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5rem;
    margin-right: 1.5rem;
    aspect-ratio: 1;
  }

  .navbar__toggler--close {
    background-image: url("/assets/shared/icon-close.svg");
    position: fixed;
    right: 0;
  }

  .navbar__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: transform 150ms ease-in-out;
  }

  .navbar__nav--closed {
    transform: translateX(100%);
  }

  .navbar__links {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    min-width: 16rem;
    min-height: 100%;
    padding: 7.4rem 0;
    margin: 0;

    list-style: none;
    background-color: hsl(var(--clr-dark) / 75%);
  }

  @supports (backdrop-filter: blur(10px)) {
    .navbar__links {
      background-color: hsl(var(--clr-white) / 4%);
      backdrop-filter: blur(40px);
    }
  }

  .navbar__link {
    color: hsl(var(--clr-white));
    text-decoration: none;
    display: flex;
    height: 100%;
    gap: 0.7rem;
    align-items: center;
    padding: 0 2rem;
    min-height: 2rem;
  }

  .navbar__link:hover {
    box-shadow: inset -4px 0 0 hsl(var(--clr-white) / 50%);
  }

  .navbar__link[aria-current="page"],
  .navbar__link--active {
    box-shadow: inset -4px 0 0 hsl(var(--clr-white));
  }

  .navbar__link-num {
    display: none;
    font-weight: bold;
  }

  /* tablet */
  @media (min-width: 48rem) {
    .navbar {
      padding-top: 0;
    }

    .navbar__logo {
      margin-left: 2.5rem;
    }

    .navbar__nav {
      position: static;
      transform: unset;
    }

    .navbar__toggler {
      display: none;
    }

    .navbar__links {
      position: static;
      flex-direction: row;
      align-items: stretch;
      padding: 0 3rem;
      min-height: 6rem;
    }

    .navbar__link {
      padding: 0;
    }

    .navbar__link:hover {
      box-shadow: inset 0 -4px 0 hsl(var(--clr-white) / 50%);
    }

    .navbar__link[aria-current="page"],
    .navbar__link--active {
      box-shadow: inset 0 -4px 0 hsl(var(--clr-white));
    }
  }

  /* desktop */
  @media (min-width: 70rem) {
    .navbar {
      padding-top: 2.5rem;
    }

    .navbar__logo {
      margin-left: 3.5rem;
    }

    /* separator between logo and links */
    .navbar::after {
      content: "";
      flex-grow: 1;
      border-bottom: 1px solid hsl(var(--clr-white) / 25.15%);
      order: 1;
      margin-left: 4rem;
      margin-right: -2rem;
      z-index: 1;
    }

    .navbar__nav {
      order: 2;
    }

    .navbar__links {
      padding: 0 10rem;
    }

    .navbar__link-num {
      display: unset;
    }
  }
</style>
