---
import Navbar from "../components/Navbar.astro";

export interface Props {
  title: string;
  activeLink: string;
}

const { title, activeLink } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <Navbar activeLink={activeLink} />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-accent: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font-sizes */
    --fs-h1: 5rem;
    --fs-h2: 3.5rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1rem;
    --fs-h5: 1rem;
    --fs-sh1: 1.75rem;
    --fs-sh2: 0.875rem;
    --fs-body: 0.9375rem;
    --fs-nav: 0.875rem;

    /* letter-spacings */
    --ls-1: 2.35px;
    --ls-2: 2.7px;
    --ls-3: 4.75px;

    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
  }

  /* tablet */
  @media (min-width: 48rem) {
    :root {
      /* font-sizes */
      --fs-h1: 9.375rem;
      --fs-h2: 5rem;
      --fs-h3: 2.5rem;
      --fs-h4: 1.5rem;
      --fs-h5: 1.25rem;
      --fs-sh1: 1.75rem;
      --fs-sh2: 0.875rem;
      --fs-body: 1rem;
      --fs-nav: 1rem;
    }
  }

  /* desktop */
  @media (min-width: 70rem) {
    :root {
      /* font-sizes */
      --fs-h1: 9.375rem;
      --fs-h2: 6.25rem;
      --fs-h3: 3.5rem;
      --fs-h4: 2rem;
      --fs-h5: 1.75rem;
      --fs-sh1: 1.75rem;
      --fs-sh2: 0.875rem;
      --fs-body: 1.125rem;
      --fs-nav: 1rem;
    }
  }

  html {
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
  }

  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-size: cover;
  }

  /* Typography */
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .sh1,
  .sh2,
  .navtext {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    word-break: break-word;
  }

  .h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-serif);
  }

  .h2 {
    font-size: var(--fs-h2);
    font-family: var(--ff-serif);
  }

  .h3 {
    font-size: var(--fs-h3);
    font-family: var(--ff-serif);
  }

  .h4 {
    font-size: var(--fs-h4);
    font-family: var(--ff-serif);
  }

  .h4--gray {
    color: hsl(var(--clr-white) / 50%);
  }

  .h5 {
    color: hsl(var(--clr-accent));
    font-size: var(--fs-h5);
    font-family: var(--ff-sans-cond);
    letter-spacing: var(--ls-3);
  }

  .h5--white {
    color: hsl(var(--clr-white));
  }

  .sh1 {
    font-size: var(--fs-sh1);
    font-family: var(--ff-serif);
  }

  .sh2 {
    color: hsl(var(--clr-accent));
    font-size: var(--fs-sh2);
    font-family: var(--ff-sans-cond);
    letter-spacing: var(--ls-1);
  }

  .paragraph {
    color: hsl(var(--clr-accent));
    font-size: var(--fs-body);
    font-family: var(--ff-sans-normal);
    margin: 0;
  }

  .navtext {
    font-size: var(--fs-nav);
    font-family: var(--ff-sans-cond);
    letter-spacing: var(--ls-2);
  }

  /* General */
  .container {
    width: 100%;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }

  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

  .title-number {
    display: inline-block;
    margin-right: 1.1875rem;
    color: hsl(var(--clr-white) / 25%);
    font-weight: bold;
  }

  @media (min-width: 48rem) {
    .title-number {
      margin-right: 1.5rem;
    }
  }

  @media (min-width: 70rem) {
    .title-number {
      margin-right: 1.75rem;
    }
  }
</style>
